* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes  */
.btn {
    height: 30px;
    padding-inline: 20px;
    border-radius: 4px;
    font-size: .7rem;
    cursor: pointer;
}

.btn:active {
    scale: .98;
}

.btn-primary {
    background-color: #f70586;
    border: 1px solid transparent;
    color: #fff;
}

.btn-primary:hover {
    background-color: #e9057e;

}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #f70586;
    color: #f70586;
}

.btn-secondary:hover {
    border: 1px solid #e9057e;
    color: #e9057e;
}

.container {
    max-width: 90%;
    /* border: 1px solid; */
    margin: 0 auto;
}

.main {
    height: 100vh;
    width: 100%;
    background: url(./Assets/background-image.png);
    background-size: cover;
    background-position: center;
}

/* ===================================== nav =====================================*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
}

/* ===================================== hero===================================== */
.hero {
    display: flex;
    align-items: center;
    height: 90vh;
}

/* ======================== heroleft ======================== */
.heroleft {
    width: 40%;
    padding-left: 15.5vh;
}


/* user actions */
.userActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*  heroInfo */
.heroInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heroInfo h1 {
    font-size: 3.3rem;
}

.heroInfo p {
    font-size: 18px;
    width: 70%;
    opacity: .6;
}

/* heroButtonGroup */
.heroButtonGroup {
    display: flex;
    gap: 1rem;
}

/* heroSocialMedia */
.heroSocialMedia {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 12vh;
}

/* ======================== heroRight ======================== */
.heroRight {
    width: 60%;
    position: relative;
}

.heroRight img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* floatings */
.floatings {
    position: absolute;
    top: 0;
    left: 0;
}

.floatings .floating {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-inline: .8rem;
    background-color: #fff;
    border-radius: 50px;
    padding-block: .5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.floatings .floating img {
    height: 30px;
    width: 30px;
}

#carLoan {
    position: absolute;
    top: 0vh;
    left: 80px;
}

#houseLoan {
    position: absolute;
    top: 120px;
    left: 560px;
}


/* =============================  Media Quries ============================= */

@media screen and (max-width: 1150px) {
    .heroInfo {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }


    #carLoan {
        position: absolute;
        top: 0vh;
        left: 65px;
    }

    #houseLoan {
        position: absolute;
        top: 120px;
        left: 445px;
    }
    .heroleft {
        width: 40%;
        padding-left: 10.5vh;
    }

    .heroInfo p {
        font-size: 18px;
        width: 80%;
        opacity: .6;
    }
}

@media screen and (max-width: 993px) {
    .navbar a {
        font-size: 13px;
    }

    .container {
        max-width: 96%;

    }

    .heroleft {
        width: 40%;
        padding-left: 9vh;
    }

    .heroInfo h1 {
        font-size: 2.5rem;
    }

    .floatings .floating {
        scale: .8;

    }

    .heroleft {
        width: 40%;
        padding-left: 3.25vh;
    }

    .heroInfo p {
        font-size: 15px;
        width: 90%;
        opacity: .6;
    }

   
    #houseLoan {
        position: absolute;
        top: 93px;
        left: 353px;
    }

}

@media screen and (max-width: 760px) {
    .navbar {
        display: none;
    }

    .hero {
        display: flex;
        align-items: center;
        margin-block-start: 12vh;
        flex-direction: column-reverse;
        margin-top: 400px;
    }

    .heroRight {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        padding-left: 0;
    }

    .heroRight img {
        height: 100%;
        width: 85%;
        object-fit: contain;
    }

    #carLoan {
        position: absolute;
        top: 0px;
        left: 80px;
    }

    #houseLoan {
        position: absolute;
        top: 120px;
        left: 480px;
    }

    /* heroLeft */
    .heroleft {
        width: 100%;
        padding-left: 3.25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroInfo {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .heroInfo h1 {
        font-size: 3rem;
    }

    .heroInfo p {
        font-size: 18px;
        width: 60%;
        opacity: .6;
    }

}

@media screen and (max-width: 650px) {
    .hero {
        display: flex;
        align-items: center;
        margin-block-start: 12vh;
        flex-direction: column-reverse;
        margin-top: 300px;
    }

    #houseLoan {
        position: absolute;
        top: 81px;
        left: 400px;
    }

    #carLoan {
        position: absolute;
        top: 0px;
        left: 42px;
    }
}
@media screen and (max-width: 533px) {
    .hero {
 
        margin-top: 250px;
    }

    #houseLoan {
        position: absolute;
        top: 81px;
        left: 310px;
    }

    #carLoan {
        position: absolute;
        top: 0px;
        left: 42px;
    }
}